<div class="sortby">
  <label for="SortBy">{{ 'collections.sorting.title' | t}} </label>
  <select name="SortBy" id="SortBy" class="collection-sort-by">
    {% for option in collection.sort_options %}
    <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
    {% endfor %}
  </select>
</div>

<script>
  (function() {
    var sortSelect = document.getElementById('SortBy');
    if (sortSelect) {
      sortSelect.addEventListener('change', function(e) {
        var url = new URL(window.location.href);
        url.searchParams.set('sort_by', e.target.value);
        window.location.href = url.toString();
      });
    }
  })();
</script>