<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
   
   
 
{% section 'inner-page-content-with-image-section' %}  
{% section 'inner-page-team-section' %}
{% section 'inner-page-info-box-section' %}
{% section 'inner-page-brand-logos' %}

